@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
    
}
.container {

    text-align: center;
    padding: 0;
    margin: 15px;
    margin-top: 20px;
    list-style-type: none;


}
#topheader{
    margin-bottom: 40px;
}
.cart-orderitems{
    padding: 3px;
    list-style-type: none;
}
.cart-itemheader{
    display: flex;
    align-items: flex-start;
    
}

.itemdescription{
    text-align: start;
}
.itemdescription ul {
    text-align: start;
    padding: 0%;
    max-width: 90px;
    
}
.material-symbols-outlined{
    position: relative;
    top: 6px;
}
.box{
    display: flex;
}
.inputfilled{
    width:18px;
    margin-top: 7px;
    outline: none;
    font-size: medium;
    border: white;
}
.preference{
    text-align: start;
    font-size: smaller;

}
.itemquantity {
    margin: 0;
    display: inline-flex;
    justify-content: space-around;
    flex: 0.5;
   
}
.itemproduct{
    flex: 2;
    padding-left: 30px;
}
.itemquantity h4{
    margin: 0;
    margin-top: 7px;
}
.remove{
    flex: 0.3;
    padding-left: 10px;
}
.itemdescription span{
    font-size: large;
    font-weight: bold;
}
.itemprice{
    font-size: large;
    font-weight: 400;
    flex: 0.5;
    margin-top: 6px;
    position: relative;
    bottom: 23px;
}
.bottomtext{
    float: left;
    margin-left: 20px;
    
}
.totalprice{
    float:right;
    margin-right: 20px;
    font-weight: 400;

}

a{
    color: rgb(255, 115, 0);
    text-align: right;
    font-weight:100;
}


button{
    font-size: medium;
    width: 90%;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    border-color:rgb(255, 115, 0);;;
    background-color: rgb(255, 115, 0);;;
    color: white;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(223, 89, 0);
}
@media (max-width: 335px) {
    .container {
      min-width: 335px;
    }
  }